@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0; 
}
section{    
    margin: 1rem 2rem;
}

footer nav{
    float: right; 
}

footer nav ul li{
    display: inline-block;
    margin-left: 0px;
    padding-right: 20px;
    list-style: none;
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
    color: #222;
}

footer{
    width: 100%;
    /*background-color: #222;
    padding: 60px 0px; */
}